[Unit]
Description=Ultrapoint Full Node
After=network.target

[Service]
User=ultrapoint
Group=ultrapoint
WorkingDirectory=~

Type=forking
PIDFile=/var/run/ultrapointd.pid

ExecStart=/usr/bin/ultrapointd --config-file /etc/ultrapointd.conf \
    --detach --pidfile /var/run/ultrapointd.pid

[Install]
WantedBy=multi-user.target
